.new-course-container {
    /* border: 1px solid black; */
    padding: 0 20px;
}

.new-course {
    /* border: 2px solid black; */
}

.new-course-title {
    color: #666666;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
    font-family: 'Poppins';
}

.new-course-instruction {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    padding: 15px 0;
    color: #454545;
}

.new-course-select {
    border: 1.5px solid #d0d0d0;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'Poppins';
}

.new-course-grade {
    border: 1.5px solid #d0d0d0;
    border-radius: 5px;
    width: 50%;
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'Poppins';
}

.time-container {
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    flex: wrap;
    width: 100%;
}

.new-course-duration {
    display: flex;
    flex-direction: column;
    /* border: 1px solid pink; */
    width: 100%;
}

.new-course-grade-duration {
    border: 1.5px solid #d0d0d0;
    /* border: 2px solid red; */
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'Poppins';
}

.day-container {
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    flex: wrap;
}
