.assignment-calender {
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}

.assignment-main-calender {
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

.assignment-right-section2 {
  width: 100%;
}

@media (max-width: 767px) {
  .assignment-calender {
    width: 100%;
  }
  .assignment-main-class {
    /* background-color: blue; */
    width: 50%;
  }
  .assignment-right-section {
    display: flex;
    width: 100%;
  }
  .assignment-right-section2 {
    /* background-color: red; */
    width: 50%;
    padding-right: 8px;
  }
}

@media (max-width: 500px) {
  .assignment-right-section {
    display: flex;
    flex-direction: column;
  }
  .assignment-main-class {
    /* background-color: blue; */
    width: 100%;
  }
  .assignment-right-section2 {
    /* background-color: red; */
    width: 100%;
    padding-right: 8px;
  }
}
