/* .grad1::after{
    content: "";
    position:absolute ;
    top: 0;
    width:100%;
    border-radius: 100%;
    height: 100%;
    z-index: -1;
    background-position: 0px 0px;
    background-image: conic-gradient(from 0deg at 50% 50%, #A07CFE00 1%, #8558FBFF 4%, #FC3175FF 38%, #FA9B3DFF 76%, #FE8FB500 88%);
    animation: spin 5s linear infinite;
} */
.grad{
    
    /* animation: spin 2s linear infinite; */
}

/* @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */