.no-arrow {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

/* For hiding the arrows in WebKit browsers */
.no-arrow::-webkit-inner-spin-button,
.no-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
