.table-responsivee {
  overflow-x: auto;
}

.responsive-tablee {
  width: 100%;
  border-collapse: collapse;
}

.responsive-tablee th,
.responsive-tablee td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.responsive-tablee th {
  background-color: #f2f2f2;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .responsive-tablee thead {
    display: none;
  }
  
  .responsive-tablee,
  .responsive-tablee tbody,
  .responsive-tablee tr,
  .responsive-tablee td {
    display: block;
    width: 100%;
  }
  
  .responsive-tablee tr {
    margin-bottom: 15px;
  }
  
  .responsive-tablee td {
    text-align: left;
    position: relative;
  }
  
  .responsive-tablee td::before {
    content: attr(data-label);
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
}