.student-diagnostic-main-container {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    display: flex;
}

.student-diagnostic-sub-title {
    font-weight: 700;
    color: #0066de;
    line-height: 8vh;
}

.student-diagnostic-sub-button {
    background-color: #0066de;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
    padding: 20px;
}

@media (max-width: 768px) {
    .student-diagnostic-sub-title {
        font-weight: 700;
        color: #0066de;
        line-height: 6vh;
    }
}
@media (max-width: 640px) {
    .student-diagnostic-sub-title {
        font-weight: 700;
        color: #0066de;
        line-height: 4vh;
    }
}
