.mover {
    offset-path: path('M402 695L1410.5 306.5L1202 1L2 234.5L1410.5 910.5');
    animation: move 80s ease-in-out infinite;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 212, 255);
    background: radial-gradient(
        circle,
        rgba(0, 212, 255, 1) 10%,
        rgba(45, 18, 249, 0) 41%
    );
    width: 71px;
    height: 54px;
}

.mover1 {
    offset-path: path(
        'M520 1186.5L1 520L385.5 29L1158.5 1186.5L1477.5 423.5L852 1L132.5 1186.5'
    );
    animation: move 120s ease-in-out infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 71px;
    height: 54px;
}

.mover2 {
    offset-path: path(
        'M512.288 1010.22C475.551 1003.46 438.115 980.301 404.552 964.696C361.424 944.644 320.222 917.187 283.436 887.022C213.585 829.744 150.155 756.465 150.155 661.992C150.155 616.26 172.911 581.202 214.45 561.901C251.761 544.565 280.273 549.042 310.717 576.15C325.451 589.269 338.13 605.855 352.074 619.94C387.648 655.873 421.037 683.311 469.367 702.132C516.744 720.582 566.702 732.732 616.549 742.273C688.213 755.989 764.003 767.574 836.887 756.174C882.301 749.071 929.058 734.618 964.781 704.565C1008.79 667.54 1041.99 609.89 1065.74 558.252C1081.59 523.794 1097.07 473.657 1088.85 434.703C1083.44 409.062 1067.29 382.646 1052.88 361.025C1016.93 307.105 950.478 281.725 893.536 256.417C861.058 241.982 828.262 235.323 793.098 231.221C732.157 224.111 673.732 211.867 612.031 210.195C479.673 206.608 346.711 214.928 214.45 208.804C155.111 206.057 84.3531 187.008 83.7759 116.012C83.5793 91.8242 87.1267 70.312 99.2413 49.1115C127.032 0.477207 232.082 3.50763 273.183 2.36785C436.363 -2.1573 599.68 14.1035 761.646 31.5609C868.94 43.1255 977.43 55.2946 1083.99 73.2653C1120.51 79.4257 1153.78 89.9852 1187.55 104.37C1212.3 114.911 1234.69 123.821 1250.46 147.291C1267.9 173.261 1279.38 207.003 1283.12 237.998C1289.49 290.648 1304.05 352.977 1292.68 406.031C1286.9 433.012 1284.63 468.845 1265.57 490.83C1253.34 504.949 1239.17 506.1 1221.26 506.469C1151.29 507.912 1080.21 509.287 1010.31 505.948C869.377 499.217 738.654 431.182 601.605 403.772C556.786 394.809 510.736 394.794 465.718 386.396C406.109 375.274 345.416 365.444 284.826 361.72C243.773 359.198 202.409 359.14 161.277 359.635C142.758 359.858 129.78 363.207 114.012 372.668C90.3692 386.853 13.8136 417.734 40.6814 454.165C51.4859 468.815 63.0046 491.274 79.2579 500.561C124.406 526.36 191.314 519.033 240.862 519.154C470.994 519.717 700.216 523.831 929.679 544.177C1021.65 552.332 1117.24 568.284 1200.76 610.209C1222.64 621.192 1266.36 634.957 1269.92 663.382C1272.72 685.8 1273.16 709.109 1272.18 731.673C1270.15 778.222 1235.5 802.502 1195.72 820.816C1074.94 876.411 965.911 956.567 833.586 983.811C810.537 988.556 787.07 989.777 763.905 993.715C733.708 998.849 706.739 1009.55 678.758 1022.04C602.825 1055.94 529.171 1090.5 447.299 1108.23C395.763 1119.39 343.976 1113.67 292.124 1119.7C272.488 1121.98 236.15 1130.13 216.882 1120.74C204.52 1114.72 195.678 1100.7 188.037 1090.16C169.106 1064.03 151.346 1036.87 134.516 1009.35C108.886 967.445 80.6573 928.24 52.1501 888.238C19.5859 842.543 2.45239 787.722 2.45239 731.847'
    );
    animation: moveopposite 360s ease-in-out infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 71px;
    height: 54px;
}

.mover3 {
    offset-path: path(
        'M2.45239 182.965C16.2027 177.182 339.666 40.4707 379.529 25.879C407.137 15.7734 435.108 2.82668 464.502 2.24654C474.455 2.0501 486.7 13.9557 485.18 23.7938C481.498 47.6342 464.677 67.6688 451.296 87.7405C407.482 153.46 370.083 190.352 310.891 243.089C268.467 280.887 204.298 315.451 169.965 362.989C143.533 399.587 224.943 400.033 236.692 399.307C332.868 393.361 426.168 352.632 511.941 312.249C640.258 251.835 762.573 179.179 883.11 104.77C911.87 87.0153 940.162 68.4984 969.125 51.0754C974.176 48.037 989.365 37.1791 997.797 37.3477C1000.3 37.3977 1003.93 40.0752 1004.4 42.5608C1008.31 63.3599 992.366 94.4698 983.374 109.809C923.931 211.211 818.126 269.027 723.59 332.406C680.305 361.425 637.022 390.801 606.818 434.234C595.821 450.048 580.341 477.983 583.881 499.224C585.221 507.263 594.034 516.047 602.3 516.6C669.151 521.073 761.815 476.087 818.642 454.218C899.868 422.958 974.357 391.55 1052.53 353.78C1103.95 328.94 1152.31 304.26 1193.46 264.637C1221.76 237.389 1249.8 212.446 1286.6 197.041C1305.4 189.169 1271.39 235.434 1258.97 251.604C1229.32 290.219 1210.19 310.136 1175.39 345.612C1145.85 375.725 1105.24 405.964 1086.42 445.355C1078.25 462.459 1064.61 517.003 1084.68 531.544C1100.33 542.884 1119.99 539.457 1137.68 536.062C1206.21 522.912 1272.28 491.546 1332.82 457.867C1360.32 442.571 1394.45 424.975 1403.72 392.53'
    );
    animation: move 80s ease-in-out infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 71px;
    height: 54px;
}

.mover4 {
    offset-path: path(
        'M1347.45 207.524C1302.45 213.524 1260.4 219.761 1214.49 212.207C1152.33 201.977 1084.62 172.631 1041.22 125.405C1012.14 93.7594 1038.68 71.6048 1073.5 66.7013C1109.45 61.6379 1136.41 67.1457 1161.81 94.2971C1185.13 119.225 1186.75 178.654 1151.44 192.471C1102.97 211.435 1049 220.866 1001.25 196.82C913.368 152.568 858.431 60.1469 761.918 30.2413C729.474 20.1882 697.568 14.8943 664.412 8.83361C644.623 5.21628 622.782 -0.268573 602.531 3.48169C581.694 7.34034 549.654 23.4504 541.318 44.2901C537.316 54.2968 534.212 62.6375 531.785 73.5584C527.087 94.6992 504.166 111.547 489.471 126.241C469.363 146.35 448.566 165.4 429.43 186.451C408.067 209.949 377.16 222.29 349.652 237.294C286.945 271.498 221.117 264.722 151.966 264.722C129.62 264.722 101.853 267.855 89.7498 243.649C79.8645 223.879 89.6361 206.805 98.7811 189.461C116.301 156.233 135.434 137.028 173.541 135.44C191.668 134.685 210.083 134.902 228.231 135.273C244.791 135.611 253.955 144.05 268.705 147.984C294.911 154.972 314.871 182.203 335.604 198.492C379.905 233.3 410.576 286.182 469.067 299.343C500.073 306.319 534.442 307.584 566.071 309.21C584.817 310.174 615.66 316.264 632.97 306.2C663.023 288.727 681.833 259.832 698.698 229.768C729.917 174.118 735.771 110.81 703.883 54.6594C678.533 10.0221 603.965 18.1571 560.719 14.1855C524.533 10.8623 490.283 8.83361 453.513 8.83361C431.817 8.83361 411.073 14.4088 389.457 14.8545C361.751 15.4258 333.875 19.1315 306.503 23.2169C268.556 28.8806 229.784 29.5827 191.436 32.9173C144.59 36.9909 101.306 53.2338 56.133 64.527C44.1782 67.5157 6.0913 83.3038 4.78801 95.4678C3.41645 108.269 4.78801 122.2 4.78801 135.106C4.78801 150.789 1.77756 166.737 1.77756 182.771C1.77756 195.425 20.1186 201.572 31.8821 204.513'
    );
    animation: move 80s ease-in-out infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 71px;
    height: 54px;
}

@keyframes opposite {
    0% {
        offset-distance: 100%;
    }

    50% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }

    50% {
        offset-distance: 100%;
    }

    100% {
        offset-distance: 0%;
    }
}
