.signuppersonaldetails {
}

.personaldetailscontainer {
  /* border: 2px solid #0062cc; */
  border-radius: 50px;
}

.personaldetailsphoto {
  /* border: 1px solid black; */
  display: flex;
  margin-left: 5%;
  align-items: center;
}

/* .detailphoto {
  width: 200px;
  height: 150px;
} */

.details-content-container {
  /* border: 1px solid black; */
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* max-width: fit-content; */
  padding-top: 20px;
}

.details-content {
  /* border: 1px solid black; */
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
}

.details-sub-content {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  /* border: 1px solid black; */
}

.details-heading {
  /* border: 1px solid black; */
  display: flex;
  width: fit-content;
  flex-direction: column;
  /* margin-left: 5%; */
  margin-top: 20px;
  gap: 2px;
  /* padding-bottom: 15px; */
  /* padding: 0 20px; */
}

.deatils-sub-heading {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: justify;
}

.details-sub-sub-heading {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #555;
}

.detail-section {
  margin-bottom: 15px;
  /* border: 1px solid black; */
  width: 100%;
  /* margin-left: 5%; */
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 15px;
}

.detail-input {
  flex: 1;
  padding: 12px;
  font-size: 12px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
  border: 1.5px solid #666666;
  outline: none;
  background-color: #EBEBEB;
  
}

.personal-detail-submit {
  /* margin-left: 35%; */
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #0066de;
  color: #fff;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.personal-detail-submit:hover {
  background-color: #0062cc;
  outline: none;
}

@media (max-width: 680px) {
  /* .detail-section {
    width: 550px;
  } */
}

@media (max-width: 640px) {
  /* .detail-section {
    width: 520px;
  } */
}

@media (max-width: 600px) {
  /* .detail-section {
    width: 500px;
  } */
}

@media (max-width: 580px) {
  /* .detail-section {
    width: 480px;
  } */
}

@media (max-width: 550px) {
  /* .detail-section {
    width: 450px;
  } */
}

@media (max-width: 530px) {
  .personaldetailsphoto {
    flex-direction: column;
  }
}

@media (max-width: 520px) {
  /* .detail-section {
    width: 430px;
  } */
}

@media (max-width: 495px) {
  /* .input-row {
    flex-direction: column;
  } */
  /* .detail-section {
    width: 380px;
  } */
}

@media (max-width: 440px) {
  /* .input-row {
    flex-direction: column;
  } */
  /* .detail-section {
    width: 320px;
  } */
  .details-content-container {
    margin-left: -1px;
  }
  .personal-detail-submit {
    width: 40%;
  }
}

@media (max-width: 370px) {
/* 
  .detail-section {
    width: 290px;
  } */
  .personal-detail-submit {
    width: 40%;
  }
}

@media (max-width: 330px) {
  /* .detail-section {
    width: 250px;
  } */
}
