.diagnosis-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  margin: 50px auto;
  padding: 30px;
  background-color: black;
  flex-wrap: wrap;
}

.left {
  width: 40%;
  text-align: left;
  /* border: 1px solid white; */
  margin-top: 1%;
  margin-bottom: 30px;
}

.right {
  width: 40%;
  text-align: left;
  border: 2px solid #0066de;
  border-radius: 20px;
}

.left-heading {
  font-family: "Poppins";
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 6px;
}

.left-line {
  border: 2px solid white;
  width: 32%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.left-heading span {
  font-family: "Poppins";
  color: #007bff;
  font-size: 25px;
}

.left-sub-heading {
  font-family: "Poppins";
  color: #007bff;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.left-sub-sub-heading {
  font-family: "Poppins";
  color: #007bff;
  line-height: 1.6;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 14px;
}

.left-box-btn {
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.left-box-btn:hover {
  background-color: #007bff;
}

.right-box {
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
}

.icon {
  width: 70px;
  height: 70px;
  background-color: #007bff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 8px;
}

.icon img {
  width: 45px;
  height: 45px;
  background-color: white;
}

.right-box p {
  padding-top: 15px;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
}

.right-box-btn {
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 90%;
  }
  .right {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .right {
    width: 100%;
  }
}
