.otpcontainer {
  border: 2px solid #0066de;
  width: 75%;
  border-radius: 50px;
  background: #ffffff4d;
  padding: 20px;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 1%;
}

.otpphoto {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  align-items: center;
}

.otpimage {
  width: 25%;
  height: 25%;
}

.otp-content-container {
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.otp-content {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.otp-sub-content {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
}

.otp-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
  gap: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.otp-sub-heading {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.otp-sub-sub-heading {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: black;
  padding: 20px 20px;
}

.otp-sub-sub-heading a {
  color: #007bff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.otp-number {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.otp-number-sub-heading {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: black;
  padding: 20px 20px;
  text-align: center;
}

.otp-number-sub-heading a {
  color: #007bff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.otp-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* margin-left: -50%; */
}

.otp-request {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.otp-request:hover {
  background-color: #0062cc;
}

@media (max-width: 800px) {
  .otpphoto {
    flex-direction: column;
  }
  .otpimage {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 540px) {
  .otp-sub-sub-heading {
    text-align: center;
  }
  .otp-number {
    flex-wrap: wrap;
  }
  .otpimage {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 450px) {
  .otp-button-container {
    margin-left: 10%;
  }
  .otpimage {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 350px) {
  .otp-button-container {
    margin-top: 15px;
    margin-left: 6%;
  }
  .otpimage {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 330px) {
  .otp-button-container {
    margin-top: 15px;
    margin-left: -2%;
  }
  .otpimage {
    width: 70%;
    height: 70%;
  }
}
