@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Open+Sans&family=Oswald&family=PT+Sans:wght@400;700&family=Poppins:wght@100;300;400;600&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}



body {
  padding: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.table-container {
  margin-top: 10px;
  overflow-x: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 60vh;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0px;
}

.responsive-table th,
.responsive-table td {
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}

.responsive-table th {
  background-color: #03729b;
  color: #ffffff;
}

.responsive-table tbody tr:nth-child(even) {
  background-color: #03729b1e;
}

.responsive-table tbody tr:hover {
  background-color: #e0e0e0;
}
.table-container {
  margin-top: 10px;
  overflow-x: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 60vh;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0px;
}

.responsive-table th,
.responsive-table td {
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}

.responsive-table th {
  background-color: #03729b;
  color: #ffffff;
}

.responsive-table tbody tr:nth-child(even) {
  background-color: #03729b1e;
}

.responsive-table tbody tr:hover {
  background-color: #e0e0e0;
}

/* Scroll Bar Design  */
:root.scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:root.scroll::-webkit-scrollbar {
  display: none;
}

/* Scroll Bar Design  */
.animationapart::-webkit-scrollbar {
  display: none;
  position: absolute;
  width: 10px;
}
:root::-webkit-scrollbar {
  display: none;
  position: absolute;
  width: 10px;
}

/* Track */
:root::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
:root::-webkit-scrollbar-thumb {
  background: #00729c;
  height: 30px;
  border-radius: 10px;
}

/* Handle on hover */
:root::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* In your CSS file */

.relative {
  position: relative;
}

.underline {
  left: 0;
  right: 0;
  height: 4px;
  transition: all 0.3s ease;
}

.underline.about {
  left: 0;
  width: 25%;
}

.underline.module {
  left: 25%;
  width: 25%;
}

.underline.tests {
  left: 50%;
  width: 25%;
}

.underline.review {
  left: 75%;
  width: 25%;
}

/* Add this CSS to your global styles or a CSS module */

.slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.slide-left-enter {
  animation: slide-left-enter 0.3s forwards;
}

.slide-right-enter {
  animation: slide-right-enter 0.3s forwards;
}

@keyframes slide-left-enter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-right-enter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* Diagnosis Test - Student Side*/

.Test::-webkit-scrollbar {
  display: none;
}

.Test {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.maincontainer {
  box-sizing: border-box;
  overflow-x: hidden;
}
.custom-gradient {
  @apply bg-cover;
  background-position: 0 0;
  background-image: radial-gradient(75% 75% at 50% 50%, rgba(0, 255, 255, 0) 0%, rgba(0, 255, 255, 0) 33%, rgba(0, 255, 255, 0.85) 37%, rgba(7, 58, 255, 0) 87%);
}