@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Open+Sans&family=Oswald&family=PT+Sans:wght@400;700&family=Poppins:wght@100;300;400;600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
  }


  .table-container {
    margin-top: 10px;
    overflow-x: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60vh;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
  }
  
  .responsive-table th,
  .responsive-table td {
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
  }
  
  .responsive-table th {
    background-color: #fcfdfd;
    color:#36383a;
  }
  
  .responsive-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .responsive-table tbody tr:hover {
    background-color: #e0e0e0;
  }